{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <h2>Plus de détails sur le serie : {{series.nom|capitalize}}</h2><br>
                <ul>
                        <div>{{series.nom|capitalize}}<br>Produite de {{ series.anneeDebut | date('d/m/Y ')}} à {{ series.anneeFin | date('d/m/Y ')}}<br>Nombre de saisons : {{ series.saisons }}<br>{{ series.categorieId }} </div><br>
                </ul>
                <a href="{{path("remove", {id: series.id})}}"><button class="btn btn-danger">Supprimer cette série</button></a>
            </div>
            <div class="col-6">
                <h2>Modifier les informations de cette serie :</h2><br>
                {{form_start(formUpdate)}}
                {{form_rest(formUpdate)}}
                <button type="submit" class="btn btn-primary">Envoyer</button>
                {{form_end(formUpdate)}}

            </div>

        </div>
    </div>
{% endblock %}
